.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dashboard_header {
  background-color: lightblue;
}

.dashboard_header_buttons {
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard_header_button {
  border-radius: 100%;
  padding: 1rem;
}

.dashboard_avatar {
  border-radius: 100%;
  width: 50%;
}

.dashboard_game_buttons {
  padding: 1rem;
}

.leaderboard {
  border: black 2px solid;
}

.landing-page--wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.landing-page--graphic {
  display: flex;
  width: 100%;
  height: 35%;
  background: gray;
}

.landing-page--sign-in {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65%;
  justify-content: center;
  align-items: center;
}

.landing-page--sign-in--modal-btn {
  display: flex;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.signup--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  margin-bottom: auto;
}

.signin--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.signin--form {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.signin--input {
  display: flex;
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background: beige;
  border: none;
  padding: 4px 12px;
}

.signin--btn {
  padding: 4px 12px;
}

.signup--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.signup--form {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.profile_avatar {
  width: 50%;
  border-radius: 100%;
}
.profile_form {
  display: inline;
  padding: 0.3rem;
}
.profile_button {
  padding: 0.3rem;
  margin: 1rem;
  width: 10rem;
}
.profile_h1 {
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 1rem;
}
.profile_graphic {
  display: none;
}

.leaderboard {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.leaderboard--title {
  margin: 0 auto;
}

.leaderboard--table {
  margin: 0 auto;
}

table th {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.friendslist {
  border: black 2px solid;
  padding: 1rem;
  margin: 2rem;
}
.friendslist-friend {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .landing-page--wrapper {
    flex-direction: row-reverse;
  }

  .landing-page--graphic {
    height: 100vh;
  }

  .landing-page--sign-in {
    height: 100vh;
  }

  .profile_grid {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .profile_grid_item1 {
    background-color: rgb(187, 184, 184);
  }
  .profile_grid_item2 {
    align-self: center;
  }
  .profile_graphic {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 10rem;
  }
}
